.splitter {
  width: 4px;
  flex-grow: 0;
  flex-basis: unset;
  background: red;
}

.left {
  background-color: bisque;
}

.right {
  background-color: cadetblue;
}

.dragHandle.right {
  background-color: green;
  width: 10px;
  height: 100vh;
  margin-left: auto;
  cursor: col-resize;
}